<nav class="navbar navbar-expand-lg container">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/logo.png" alt="ERP Sead" height="30" class="d-inline-block align-text-top" />
      Sead
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarNav" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Início</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a id="navbarDropdown1" class="nav-link" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-expanded="false">Colaboradores</a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/financeiro/fest/colaboradores">Colaboradores</a>
            <a ngbDropdownItem routerLink="/financeiro/fest/vinculos">Vínculos</a>
            <li><hr class="dropdown-divider" /></li>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Recessos</a>
            <li><hr class="dropdown-divider" /></li>
            <a ngbDropdownItem routerLink="/financeiro/fest/contrato-alertas">Alertas de Eventos</a>
          </ul>
        </li>
        <li class="nav-item" ngbDropdown>
          <a id="navbarDropdown2" class="nav-link" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-expanded="false">Estrutura</a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/financeiro/fest/cursos">Cursos</a>
            <li><hr class="dropdown-divider" /></li>
            <a ngbDropdownItem routerLink="/financeiro/fest/fomentadores">Fomentadores</a>
            <a ngbDropdownItem routerLink="/financeiro/fest/projetos">Projetos</a>
          </ul>
        </li>
        <li class="nav-item" ngbDropdown>
          <a id="navbarDropdown3" class="nav-link" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: line-through">Relatórios</a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Relatório 1</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Relatório 2</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Relatório 3</a>
          </ul>
        </li>
        <li class="nav-item" ngbDropdown>
          <a id="navbarDropdownSystem" class="nav-link" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: line-through">Sistema</a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdownSystem" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Editar Perfil</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Alterar a Senha</a>
            <li><hr class="dropdown-divider" /></li>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" style="text-decoration: line-through">Sair</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
