@if (course) {
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb border-top border-bottom bg-light ps-1">
      <li class="breadcrumb-item"><a routerLink="">Início</a></li>
      <li class="breadcrumb-item">Financeiro</li>
      <li class="breadcrumb-item"><a routerLink="../..">Cursos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ editMode ? "Editar: " + course.name : "Cadastrar Novo Curso" }}</li>
    </ol>
  </nav>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-xxl-8">
      <form (ngSubmit)="submit(frm)" #frm="ngForm">
        <fieldset>
          <legend>Dados de Identificação</legend>
          <div class="row g-3 mb-3">
            <div class="col-12">
              <label for="inputName1" class="form-label">Nome*</label>
              <input
                type="text"
                id="inputName1"
                name="name"
                class="form-control"
                [ngClass]="nameField.invalid && nameField.touched ? 'is-invalid' : ''"
                placeholder="Nome"
                maxlength="100"
                autocomplete="off"
                ngModel
                required
                #nameField="ngModel"
              />
              @if (nameField.invalid && nameField.touched) {
                <div class="form-text text-danger">O nome é obrigatório</div>
              }
            </div>
          </div>
        </fieldset>
        <br />
        <button type="submit" [disabled]="frm.invalid" class="btn btn-primary me-2">{{ editMode ? "Atualizar" : "Cadastrar" }}</button>
        <a routerLink="../.." class="btn btn-secondary">Cancelar</a>
        <br /><br />
      </form>
    </div>
  </div>
} @else {
  <div class="row justify-content-center">
    <div class="col-xl-10 col-xxl-8">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Erro!</h4>
        <p>Este Curso não existe.</p>
        <hr />
        <p class="mb-0">Por favor, verifique o endereço digitado e tente novamente.</p>
      </div>
    </div>
  </div>
}
