<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb border-top border-bottom bg-light ps-1">
    <li class="breadcrumb-item"><a routerLink="">Início</a></li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active" aria-current="page">Alertas de Eventos</li>
  </ol>
</nav>
<hr class="mt-1" />
<h2>Alertas de Eventos</h2>
<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisa:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm" />
    </div>
    @if (service.loading$ | async) {
      <span class="col col-form-label">Carregando...</span>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="eventReminderDate" (sort)="onSort($event)">Alerta</th>
        <th scope="col" sortable="eventType" (sort)="onSort($event)">Tipo</th>
        <th scope="col" sortable="contract.employee.givenName" (sort)="onSort($event)">Nome</th>
        <th scope="col" sortable="contract.employee.surname" (sort)="onSort($event)">Sobrenome</th>
        <th scope="col" class="text-center">Info</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (contractEventReminder of contractEventReminders$ | async; track contractEventReminder.id) {
        <tr class="py-1 align-middle" [ngClass]="{ 'table-warning': gtToday(contractEventReminder.eventReminderDate), 'table-success': eqToday(contractEventReminder.eventReminderDate) }">
          <td class="py-1 align-middle"><ngb-highlight [result]="contractEventReminder.eventReminderDate | date: 'dd/MM/yy'" [term]="service.searchTerm" /></td>
          <td class="py-1 align-middle"><ngb-highlight [result]="transformType(contractEventReminder.eventType)" [term]="service.searchTerm" /></td>
          <td class="py-1 align-middle"><ngb-highlight [result]="contractEventReminder.contract.employee.givenName" [term]="service.searchTerm" /></td>
          <td class="py-1 align-middle"><ngb-highlight [result]="contractEventReminder.contract.employee.surname" [term]="service.searchTerm" /></td>
          <td class="py-1 text-center">
            @if (contractEventReminder.note != null && contractEventReminder.note.content.trim().length > 0) {
              <i class="bi bi-journal-text me-1" ngbTooltip="Possui Anotações"></i>
            }
            @if (contractEventReminder.sent) {
              <i class="bi bi-envelope me-1" ngbTooltip="Alerta Enviado"></i>
            }
          </td>
          <td class="d-flex justify-content-center py-1 align-middle">
            <span class="d-inline-flex">
              <button type="button" class="btn btn-sm btn-primary me-1" ngbTooltip="Anotações"><i class="bi bi-journal-text"></i></button>
            </span>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" style="text-align: center">Nenhum Evento encontrado</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 itens por página</option>
      <option [ngValue]="10">10 itens por página</option>
      <option [ngValue]="15">15 itens por página</option>
      <option [ngValue]="50">50 itens por página</option>
    </select>
  </div>
</form>
