<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-1 mb-0">
    <li class="breadcrumb-item"><a routerLink="">Início</a></li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active" aria-current="page">Eventos</li>
  </ol>
</nav>
<hr class="mt-1" />
<h2>Eventos</h2>
<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisa:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm" />
    </div>
    @if (service.loading$ | async) {
    <span class="col col-form-label">Carregando...</span>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col" sortable="date" (sort)="onSort($event)">Data</th>
        <th scope="col" sortable="type" (sort)="onSort($event)">Tipo</th>
        <th scope="col" sortable="employeeGivenName" (sort)="onSort($event)">Nome</th>
        <th scope="col" sortable="employeeSurname" (sort)="onSort($event)">Sobrenome</th>
        <th scope="col" class="text-center">Info</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (contractEvent of contractEvents$ | async; track contractEvent.id) {
      <tr class="py-1 align-middle" [ngClass]="{ 'table-warning': gtToday(contractEvent.date), 'table-success': eqToday(contractEvent.date) }">
        <!-- <th scope="row" class="py-1 align-middle">{{ contractEvent.id }}</th> -->
        <td class="py-1 align-middle"><ngb-highlight [result]="contractEvent.date | date : 'dd/MM/yy'" [term]="service.searchTerm" /></td>
        <td class="py-1 align-middle"><ngb-highlight [result]="transformType(contractEvent.type)" [term]="service.searchTerm" /></td>
        <td class="py-1 align-middle"><ngb-highlight [result]="contractEvent.employeeGivenName" [term]="service.searchTerm" /></td>
        <td class="py-1 align-middle"><ngb-highlight [result]="contractEvent.employeeSurname" [term]="service.searchTerm" /></td>
        <td class="py-1 text-center">
          @if (contractEvent.note.trim().length > 0) { <i class="bi bi-journal-text me-1" ngbTooltip="Possui Anotações"></i> }
          @if (contractEvent.sent) { <i class="bi bi-envelope me-1" ngbTooltip="Alerta Enviado"></i> }
        </td>
        <td class="d-flex justify-content-center py-1 align-middle">
          <span class="d-inline-flex">
            <!-- <a role="button" class="btn btn-sm btn-primary me-1" ngbTooltip="Ver Evento"  routerLink="/financeiro/contrato-eventos/{{ contractEvent.id }}"><i class="bi bi-eye-fill"></i></a> -->
            <!-- <a role="button" class="btn btn-sm btn-primary me-1" ngbTooltip="Editar Evento"  routerLink="/financeiro/contrato-eventos/{{ contractEvent.id }}/editar"><i class="bi bi-pencil-fill"></i></a> -->
            <!-- <button type="button" class="btn btn-sm btn-danger me-1" ngbTooltip="Excluir Evento" ><i class="bi bi-trash-fill"></i></button> -->
            <button type="button" class="btn btn-sm btn-primary me-1" ngbTooltip="Anotações"><i class="bi bi-journal-text"></i></button>
          </span>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4" style="text-align: center">Nenhum Evento encontrado</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 itens por página</option>
      <option [ngValue]="10">10 itens por página</option>
      <option [ngValue]="15">15 itens por página</option>
      <option [ngValue]="50">50 itens por página</option>
    </select>
  </div>
</form>
