@if (contract) {
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb border-top border-bottom bg-light ps-1">
      <li class="breadcrumb-item"><a routerLink="">Início</a></li>
      <li class="breadcrumb-item">Financeiro</li>
      <li class="breadcrumb-item"><a routerLink="..">Termos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ contract.employee.givenName }} {{ contract.employee.surname }}</li>
    </ol>
  </nav>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-xxl-8">
      <h4>Termo: {{ contract.project.name }} - {{ contract.employee.givenName }} {{ contract.employee.surname }}</h4>

      <div class="card mb-3">
        <div class="card-header" data-bs-toggle="collapse" href="#contractPersonalDataContent" role="button" aria-expanded="true" aria-controls="contractPersonalDataContent">
          <h4 class="mb-0">Dados do Colaborador</h4>
        </div>
        <div class="collapse show" id="contractPersonalDataContent">
          <div class="card-body">
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Nome:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.employee.givenName }} {{ contract.employee.surname }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header" data-bs-toggle="collapse" href="#contractDataContent" role="button" aria-expanded="true" aria-controls="contractDataContent">
          <h4 class="mb-0">Dados do Vínculo</h4>
        </div>
        <div class="collapse show" id="contractDataContent">
          <div class="card-body">
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Projeto:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.project.name }}</div>
            </div>
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Fomentador:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.project.grantor.name }}</div>
            </div>
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Curso:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.course.name }}</div>
            </div>
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Início do Contrato:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.startDate | date: "dd/MM/yyy" }}</div>
            </div>
            <div class="mb-2 row">
              <div class="col-sm-4 col-lg-3"><strong>Término do Contrato:</strong></div>
              <div class="col-sm-8 col-lg-9">{{ contract.endDate | date: "dd/MM/yyy" }}</div>
            </div>
          </div>
        </div>
      </div>

      <a routerLink=".." class="btn btn-secondary me-2">Lista de Termos</a>
      <a routerLink="editar" class="btn btn-primary">Editar</a>
      <br /><br />
    </div>
  </div>
} @else {
  <div class="row justify-content-center">
    <div class="col-xl-10 col-xxl-8">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Erro!</h4>
        <p>Este Termo não existe.</p>
        <hr />
        <p class="mb-0">Por favor, verifique o endereço digitado e tente novamente.</p>
      </div>
    </div>
  </div>
  <a routerLink=".." class="btn btn-secondary">Lista de Termos</a>
}
