@if (grantor) {
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb border-top border-bottom bg-light ps-1">
    <li class="breadcrumb-item"><a routerLink="">Início</a></li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item"><a routerLink="../..">Fomentadores</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ editMode ? "Editar: " + grantor.name : "Cadastrar Novo Fomentador" }}</li>
  </ol>
</nav>
<div class="row justify-content-center">
  <div class="col-xl-10 col-xxl-8">
    <form (ngSubmit)="submit(frm)" #frm="ngForm">
      <fieldset>
        <legend>Dados de Identificação</legend>
        <div class="row g-3 mb-3">
          <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6"> -->
          <div class="col-12">
            <label for="inputName1" class="form-label">Nome*</label>
            <input
              type="text"
              id="inputName1"
              name="name"
              class="form-control"
              [ngClass]="nameField.invalid && nameField.touched ? 'is-invalid' : ''"
              placeholder="Nome"
              maxlength="100"
              autocomplete="off"
              ngModel
              required
              #nameField="ngModel"
            />
            @if (nameField.invalid && nameField.touched) {
            <div class="form-text text-danger">O nome é obrigatório</div>
            }
          </div>
          <!-- <div class="col-4 col-sm-3 col-md-3 col-lg-2">
            <label for="inputCpf1" class="form-label">CPF*</label>
            <input
              name="cpf_number"
              id="inputCpf1"
              type="text"
              class="form-control"
              placeholder="CPF"
              value=""
              maxlength="14"
              onkeyup="validate('inputCpf1')"
              data-inputmask="'mask': '999.999.999-99', 'removeMaskOnSubmit': true"
              pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})"
              required
            />
          </div>
          <div class="col-8 col-sm-9 col-md-3 col-lg-4">
            <label for="inputJob1" class="form-label">Profissão</label>
            <input name="job" id="inputJob1" type="text" class="form-control" placeholder="Profissão" value="" maxlength="50" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <label for="selectGender1" class="form-label">Gênero*</label>
            <select name="gender" id="selectGender1" class="form-select" required>
              <option value="">Gênero</option>
            </select>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-3">
            <label for="inputBirthDay1" class="form-label">Dt de Nascimento</label>
            <input name="birth_date" id="inputBirthDay1" type="date" value="" class="form-control" />
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <label for="selectBirthState1" class="form-label">UF de Nascimento</label>
            <select name="birth_state" id="selectBirthState1" class="form-select">
              <option value="">UF</option>
            </select>
          </div>
          <div class="col-8 col-sm-12 col-md-3 col-lg-5">
            <label for="inputBirthCity1" class="form-label">Cidade de Nascimento</label>
            <input name="birth_city" type="text" id="inputBirthCity1" class="form-control" placeholder="Cidade" value="" maxlength="50" />
          </div> -->
        </div>
        <!-- <div class="row g-3 mb-3">
          <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <label for="selectMarital1" class="form-label">Estado Civil</label>
            <select name="marital_status" id="selectMarital1" class="form-select">
              <option value="">Estado Civil</option>
            </select>
          </div>
          <div class="col-8 col-sm-8 col-md-9 col-lg-10">
            <label for="inputSpouse1" class="form-label">Nome cônjuge</label>
            <input name="spouse_name" id="inputSpouse1" type="text" class="form-control" placeholder="Nome" value="" maxlength="50" />
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <label for="inputFather1" class="form-label">Nome do pai</label>
            <input name="father_name" id="inputFather1" type="text" class="form-control" placeholder="Nome" value="" maxlength="50" />
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <label for="inputMother1" class="form-label">Nome da mãe</label>
            <input name="mother_name" id="inputMother1" type="text" class="form-control" placeholder="Nome" value="" maxlength="50" />
          </div>
        </div> -->
      </fieldset>
      <!-- <fieldset>
        <legend>Documento</legend>
        <div class="row g-3 mb-3">
          <div class="col-8 col-sm-7 col-md-5 col-lg-4">
            <label for="selectIdType1" class="form-label">Tipo de Documento</label>
            <select name="document_type_id" id="selectIdType1" class="form-select">
              <option value="">Selecione o tipo</option>
            </select>
          </div>
          <div class="col-4 col-sm-5 col-md-4 col-lg-3">
            <label for="inputId1" class="form-label">N° do Documento</label>
            <input name="identity_number" id="inputId1" type="text" class="form-control" placeholder="Número" value="" maxlength="15" />
          </div>
          <div class="col-5 col-sm-4 col-md-3 col-lg-3">
            <label for="inputIssueDate1" class="form-label">Data de Expedição</label>
            <input name="identity_issue_date" id="inputIssueDate1" type="date" class="form-control" value="" />
          </div>
          <div class="col-4 col-sm-4 col-md-2 col-lg-1">
            <label for="inputIssuer1" class="form-label">Expedidor</label>
            <input name="identity_issuer" id="inputIssuer1" type="text" class="form-control" placeholder="Orgão" value="" maxlength="10" />
          </div>
          <div class="col-3 col-sm-4 col-md-2 col-lg-1">
            <label for="inputIssuerState1" class="form-label">UF Exp.</label>
            <select name="issuer_state" id="inputIssuerState1" class="form-select">
              <option value="">UF</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Endereço</legend>
        <div class="row g-3 mb-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="inputStreet1" class="form-label">Logradouro</label>
            <input name="address_street" id="inputStreet1" type="text" class="form-control" placeholder="Logradouro" value="" maxlength="50" />
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="inputComplement1" class="form-label">Complemento</label>
            <input name="address_complement" id="inputComplement1" type="text" class="form-control" placeholder="Complemento" value="" maxlength="50" />
          </div>
          <div class="col-3 col-sm-3 col-md-2 col-lg-1">
            <label for="inputNumber1" class="form-label">Número</label>
            <input name="address_number" id="inputNumber1" type="text" class="form-control" placeholder="Número" value="" maxlength="5" />
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-lg-4">
            <label for="inputDistrict1" class="form-label">Bairro</label>
            <input name="address_district" id="inputDistrict1" type="text" class="form-control" placeholder="Bairro" value="" maxlength="50" />
          </div>
          <div class="col-3 col-sm-3 col-md-2 col-lg-2">
            <label for="inputPostal1" class="form-label">CEP</label>
            <input
              name="address_zip_code"
              id="inputPostal1"
              type="text"
              class="form-control"
              placeholder="CEP"
              value=""
              maxlength="9"
              data-inputmask="'mask': '99999-999', 'removeMaskOnSubmit': true"
              onkeyup="validate('inputPostal1');"
            />
          </div>
          <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <label for="selectAddressState1" class="form-label">UF</label>
            <select name="address_state" id="selectAddressState1" class="form-select">
              <option value="">UF</option>
            </select>
          </div>
          <div class="col-9 col-sm-10 col-md-3 col-lg-3">
            <label for="inputAddressCity1" class="form-label">Cidade</label>
            <input name="address_city" id="inputAddressCity1" type="text" class="form-control" placeholder="Cidade" value="" maxlength="50" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Contato</legend>
        <div class="row g-3 mb-3">
          <div class="col-5 col-sm-5 col-md-2 col-lg-2">
            <label for="inputLandline1" class="form-label">Fixo</label>
            <input
              name="landline"
              id="inputLandline1"
              type="tel"
              class="form-control"
              placeholder="Telefone"
              value=""
              maxlength="14"
              data-inputmask="'mask': '(99) 9999-9999', 'removeMaskOnSubmit': true"
              pattern="([\()][1-9]{1}[1-9]{1}[\)]\s)?([2-5]\d{3}[\-]\d{4})"
            />
          </div>
          <div class="col-5 col-sm-5 col-md-2 col-lg-2">
            <label for="inputMobile1" class="form-label">Celular</label>
            <input
              name="mobile"
              id="inputMobile1"
              type="tel"
              class="form-control"
              placeholder="Celular"
              value=""
              maxlength="16"
              data-inputmask="'mask': '(99) 9 9999-9999', 'removeMaskOnSubmit': true"
              onfocusout="setCode()"
              pattern="([\(][1-9]{1}[1-9]{1}[\)]\s)?(9\s[6-9]\d{3}[\-]\d{4})"
            />
          </div>
          <div class="col-2 col-sm-2 col-md-1 col-lg-1">
            <label for="inputArea1" class="form-label">DDD</label>
            <input
              name="area_code"
              id="inputArea1"
              type="number"
              class="form-control"
              placeholder="DDD"
              value=""
              min="10"
              max="99"
              minlength="2"
              maxlength="2"
              onkeyup="validate('inputArea1');"
              pattern="[0-9]{2}"
            />
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7">
            <label for="inputEmail1" class="form-label">E-mail*</label>
            <input name="email" id="inputEmail1" type="email" class="form-control" placeholder="Email" value="" required />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Dados Bancários</legend>
        <div class="row g-3 mb-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="inputBank1" class="form-label">Banco</label>
            <input name="bank_name" id="inputBank1" type="text" class="form-control" placeholder="Banco" value="" maxlength="100" />
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <label for="inputAgency1" class="form-label">Agência</label>
            <input name="agency_number" id="inputAgency1" type="text" class="form-control" placeholder="Agência" value="" maxlength="100" />
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <label for="inputAccount1" class="form-label">Conta Corrente</label>
            <input name="account_number" id="inputAccount1" type="text" class="form-control" placeholder="Conta Corrente" value="" maxlength="100" />
          </div>
        </div>
      </fieldset> -->
      <!-- <input type="hidden" name="importDocuments" id="importDocuments" value="false" /> -->
      <br />
      <button type="submit" class="btn btn-primary me-2">{{ editMode ? "Atualizar" : "Cadastrar" }}</button>
      <!-- <button type="button" onclick="submitAndImport();" class="btn btn-primary">Cadastrar e importar
                            documentos</button> -->
      <a routerLink="../.." class="btn btn-secondary">Cancelar</a>
      <br /><br />
    </form>
  </div>
</div>
} @else {
<div class="row justify-content-center">
  <div class="col-xl-10 col-xxl-8">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Erro!</h4>
      <p>Este fomentador não existe.</p>
      <hr />
      <p class="mb-0">Por favor, verifique o endereço digitado e tente novamente.</p>
    </div>
  </div>
</div>
}
