<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb border-top border-bottom bg-light ps-1">
    <li class="breadcrumb-item"><a routerLink="">Início</a></li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active" aria-current="page">Cursos</li>
  </ol>
</nav>
<hr class="mt-1" />
<h2>Cursos</h2>
<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisa:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm" />
    </div>
    @if (service.loading$ | async) {
      <span class="col col-form-label">Carregando...</span>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="name" (sort)="onSort($event)">Nome</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (course of courses$ | async; track course.id) {
        <tr>
          <td class="py-1 align-middle"><ngb-highlight [result]="course.name" [term]="service.searchTerm" /></td>
          <td class="d-flex justify-content-center py-1 align-middle">
            <span class="d-inline-flex">
              <a role="button" class="btn btn-sm btn-primary me-1" ngbTooltip="Editar Curso" routerLink="/financeiro/cursos/{{ course.id }}/editar"><i class="bi bi-pencil-fill"></i></a>
              <button type="button" class="btn btn-sm btn-danger me-1" ngbTooltip="Excluir Curso"><i class="bi bi-trash-fill"></i></button>
            </span>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" style="text-align: center">Nenhum Curso encontrado</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 itens por página</option>
      <option [ngValue]="10">10 itens por página</option>
      <option [ngValue]="15">15 itens por página</option>
    </select>
  </div>
</form>
